/* React style */
#root, html, body {
    margin: 0;
    padding: 0;
    /* vertical height */
    height: 100vh; 
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: rgba(245, 245, 245, 0.7);
    width: 40em;
    height: 10em;
    margin: 10px;
    display: inline-table;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    padding: 2%;
    box-shadow: 3px 3px 5px rgb(54, 54, 54);
    transition:all 0.3s ease;
    opacity:1;
}

.card:hover
{
    background-color: rgba(245, 245, 245, 0.9);
    cursor: pointer;
    opacity:2;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.heading {
    display: table-header-group;
    justify-content: center;
    align-items: center;
    height: 580px;
    font-family: 'Playfair Display', serif;
}

.github-badge {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  opacity:0.3;
  transition:all 0.3s ease;
}

.github-badge:hover{
    cursor: pointer;
    opacity:1;
}

.github-username {
    top: 40px;
    right: 11px;
    display: block;
    position: fixed;
    color: black;
}

.github-iframe {
    width: 160px;
    height: 30px;
}
